cloudmapreduce-api/.classpath
cloudmapreduce-api/.project
cloudmapreduce-api/.settings/
cloudmapreduce-api/target/
cloudmapreduce-examples/.classpath
cloudmapreduce-examples/.project
cloudmapreduce-examples/.settings/
cloudmapreduce-examples/target/
